<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>
      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, qui? Aliquam tempora consequatur porro, earum quae modi officia, veritatis enim temporibus sunt delectus sapiente corporis, cumque harum minima. Amet, libero. Quas numquam earum saepe tempore iste qui, officia delectus consequatur! Saepe nulla harum cupiditate recusandae impedit laboriosam inventore aut reprehenderit?
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- MODAL UPLOAD -->
<app-modal-upload></app-modal-upload>