<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
              <li><b>Con el sidebar claro</b></li>
              <li><a #color1 (click)="changeColor('default', color1)" data-theme="default" class="selector default-theme">1</a></li>
              <li><a #color2 (click)="changeColor('green', color2)" data-theme="green" class="selector green-theme">2</a></li>
              <li><a #color3 (click)="changeColor('red', color3)" data-theme="red" class="selector red-theme">3</a></li>
              <li><a #color4 (click)="changeColor('blue', color4)" data-theme="blue" class="selector blue-theme">4</a></li>
              <li><a #color5 (click)="changeColor('purple', color5)" data-theme="purple" class="selector purple-theme">5</a></li>
              <li><a #color6 (click)="changeColor('megna', color6)" data-theme="megna" class="selector megna-theme">6</a></li>
              
              <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
              <li><a #color7 (click)="changeColor('default-dark', color7)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
              <li><a #color8 (click)="changeColor('green-dark', color8)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
              <li><a #color9 (click)="changeColor('red-dark', color9)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
              <li><a #color10 (click)="changeColor('blue-dark', color10)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
              <li><a #color11 (click)="changeColor('purple-dark', color11)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
              <li><a #color12 (click)="changeColor('megna-dark', color12)" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>